//font-family
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400&display=swap');

$Montserrat: 'Montserrat', sans-serif;
$pt : 'PT Sans';

// colors
$mrp-red: #D71920;
$mrp-grey: #F9F9FB;
$mrp-white: #FFFFFF;
$mrp-dark:#000000;

// fonts
//font-size
$font-size12: 12px;
$font-size14: 14px;
$font-size16: 16px;
$font-size17: 17px;
$font-size20: 20px;
$font-size30: 30px;

//font-weight
$regular: 400;
$bold: 700;
//break points