@import '../../assets/styles/variables/variables.scss';

.hero {
    &-headline ,
    &-subheading {
        font-family: $Montserrat;
        font-weight: $bold;
        letter-spacing: -0.8px;
        color: $mrp-dark;
    }

    &-headline {
        font-size: 40px;
        margin-top: 0;
        margin:0;
        padding-bottom: 20px;
        span {
            color: $mrp-red;
        }
    }
    &-subheading {
        font-size: 22px;
        padding-bottom: 20px;
        font-family: $bold;
        margin: 0;
    }
    &-copy {
        font-family: $Montserrat;
        font-weight: 400;
        font-size: 18px;
        margin: 0;
        padding-bottom: 20px;
       
    }

    &-wrapper {
        display: flex;
        padding-top: 63px;
        @media (max-width: 500px) {
            flex-direction: column;
        }
    }
    &-carousel {
        padding-left: 150px;
        @media (max-width: 500px) {
            padding-left:0;
            width: 100%;
            margin: 0 auto;
        }
       .carousel {
        z-index: -1;
        @media (max-width: 500px) {
            display: block;
            margin: 0 auto;
            margin-top: 20px;
            z-index: -1;
        }
       }
    }
    &-visible {
        display: unset;
    }
    &-heading {
        @media (max-width: 500px) {
            width: 100%;
        }
    }
    @media (max-width:500px) {
        margin-bottom: 150px;
    }
}